@media (max-width: 991.98px) {
  .navbar-collapse {
    width: 100%;
  }

  .right-content {
    flex-direction: column;
    align-items: flex-start !important;
    width: 100%;
    gap: 1.5rem !important;
    padding-block: 1rem;
  }

  .right-content img {
    border: 2px solid var(--color-orange-300);
    width: calc(var(--spacing) * 8);
    height: calc(var(--spacing) * 8);
    max-width: 100%;
  }
  .nav-label {
    display: inline-block;
    font-size: var(--text-base);
    color: var(--color-gray-700);
  }

  .left-text h3 {
    font-size: var(--text-lg);
  }

  .left-text p {
    font-size: var(--text-xs);
  }

  .navbar-toggler {
    border: none;
    padding: 0;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-toggler i {
    font-size: 24px;
    color: var(--color-gray-600);
    transition: all 0.1s ease;
  }

  .navbar-toggler i:hover {
    color: var(--color-orange-600) !important;
  }

  .navbar-collapse {
    border-top: 1px solid var(--color-orange-100);
    margin-top: 1rem;
  }

  .recipe-button {
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 4);
  }

  .card-left,
  .card-left img {
    height: 400px !important;
  }

  .card-right {
    padding: calc(var(--spacing) * 5);
  }

  .right-heading {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .heading-text {
    width: 100%;
    margin-top: calc(var(--spacing) * 4);
  }

  .heading-icons {
    align-self: flex-end;
  }

  #myTab .nav-link {
    font-size: var(--text-base) !important;
  }
}

@media (max-width: 768px) {
  #myTab {
    flex-wrap: nowrap;
  }

  #myTab .nav-link {
    font-size: var(--text-xs) !important;
  }

  #myTab .nav-item {
    flex: 1;
    min-width: 0;
  }

  #myTab .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: calc(var(--spacing) * 1);
    padding-inline: calc(var(--spacing) * 1);
    width: 100%;
  }

  #myTab .nav-link span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .rating {
    font-size: var(--text-sm);
  }

  .number-reviews {
    font-size: var(--text-xs);
  }

  .bottom-span i {
    font-size: var(--text-lg);
  }

  .bottom-span p {
    font-size: var(--text-xs);
  }

  .bottom-span h5 {
    font-size: var(--text-sm);
  }

  .heading-text h4 {
    font-size: var(--text-2xl);
  }

  .heading-text p {
    font-size: var(--text-sm);
  }

  .prep-warning h6 {
    font-size: var(--text-sm);
  }

  .prep-warning p {
    font-size: var(--text-xs);
  }

  .nutrition-item span:first-of-type {
    font-size: var(--text-xs);
  }

  .nutrition-item span:last-of-type {
    font-size: var(--text-base);
  }
}
